/* Reset and base styles  */
html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  color: #000000;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  /* sticky footer */
  -webkit-font-smoothing: antialiased;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: -webkit-box;
  display: flex;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Grid styles */
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}
/* Utility */
.none {
  display: none !important;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}

input[type="radio"],
input[type="checkbox"],
input[type="submit"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.header__wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.header__navigation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  gap: 2vw;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.2s ease;
}

.header__navigation--buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  gap: 1vw;
  -webkit-box-align: center;
          align-items: center;
}

.header__navigation--link:hover {
  color: #2581eb;
}

.activeNavLink {
  color: blue !important;
  text-decoration: underline;
  border-bottom: 2px solid blue;
}

.header__navigation--basket {
  transition: background-image 0.2s ease;
  width: 16px;
  height: 16px;
  padding: 15px;
  -webkit-box-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./../../ui/components/shopping-basket.png");
  border-radius: 5px;
}

.header__navigation--basket:hover {
  background-image: url("./../../ui/components/shopping-basket-hover.png");
  border: 1px solid #439fff;
}

.header__navigation--basket:active {
  background-image: url("./../../ui/components/shopping-basket-pressed.png");
  border: 1px solid #0763cd;
}

.header__navigation--mobile {
  display: none;
  transition: background-image 0.2s ease;
  width: 38px;
  height: 38px;
  -webkit-box-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./../../ui/components/mobileMenu.png");
  border: 1px solid #fec71c;
  border-radius: 10px;
}

.header__navigation--mobile:hover {
  background-color: #fec71c;
}

.header__navigation--mobile:active {
  background-color: #cc9500;
  background-image: url("./../../ui/components/mobileMenuPressed.png");
}

@media (max-width: 1199px) {
  .header__navigation {
    position: absolute;
    top: 0%;
    right: 0px;
    width: 375px;
    height: 390px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 3;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    background-color: #8ce773;
    padding-top: 65px;
  }

  .header__navigation--close {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 0px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 38px;
    height: 38px;
  }

  .header__navigation--mobile {
    display: block;
  }

  #arrowDown {
    display: none;
  }
}
@media (max-width: 599px) {
  .header__logo {
    z-index: 5;
  }

  #buttonPopup {
    display: none;
  }
}
.main__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.main__content {
  position: relative;
  height: 90vh;
}

.main__title {
  text-transform: uppercase;
  font-family: "Jura", sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 152px;
  line-height: 100%;
}

.main__title--many {
  position: absolute;
  top: 0%;
  left: 1vw;
}

.main__title--ducks {
  position: absolute;
  top: 10%;
  right: 1vw;
}

.main__img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.main__img--duckSound {
  position: absolute;
  top: 30%;
  left: 0vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 120px;
  height: 108px;
  background-image: url("./../../ui/img/duckSound.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease;
}

.main__subtitle {
  position: absolute;
  top: 35vh;
  right: 7vw;
  width: 27vw;
  width: 320px;
  height: 90px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  letter-spacing: 0.5%;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
}

.main__subtitle--button {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

@media (max-width: 1199px) {
  .main__title {
    line-height: 80%;
  }

  .main__title--many {
    top: 15%;
  }

  .main__title--ducks {
    top: 35%;
    left: 2%;
  }

  .main__img {
    right: 0%;
    top: 10%;
  }

  .main__img--duck {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
  }

  .main__img--duckSound {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    left: 70%;
  }

  .main__subtitle {
    top: 60%;
    left: 2%;
  }
}
@media (max-width: 899px) {
  .main__title {
    line-height: 80%;
    font-size: 92px;
  }

  .main__title--many {
    top: 15%;
  }

  .main__title--ducks {
    top: 25%;
    left: 2%;
  }

  .main__img {
    right: 0%;
    top: 10%;
  }

  .main__img--duck {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
  }

  .main__img--duckSound {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    left: 70%;
    width: 80px;
    height: 72px;
    top: 40%;
  }

  .main__subtitle {
    top: 40%;
    left: 2%;
  }
}
@media (max-width: 599px) {
  .main__title--many {
    top: 10%;
    left: 16px;
  }

  .main__title--ducks {
    top: 20%;
    left: 16px;
  }

  .main__img {
    right: 0%;
    top: 60%;
  }

  .main__img--duck {
    -webkit-transform: translateX(95%);
            transform: translateX(95%);
  }

  .main__img--duckSound {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    left: 50%;
    width: 64px;
    height: 56px;
    top: 40%;
  }

  .main__subtitle {
    top: 35%;
    left: 16px;
  }
}
.category__wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2%;
}

.category__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  gap: 44px;
}

.category__list--item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  gap: 17px;
}
.category__list--item p {
  white-space: nowrap;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  letter-spacing: 0.5%;
  font-size: 16px;
  font-weight: 400;
}

.category__list--item:hover {
  color: #439fff;
  transition: background-image 0.2s ease;
}
.category__list--item:hover .category__list--img {
  background-image: url("./../../ui/components/shapeBlue.png");
}

.category__list--img {
  width: 14px;
  height: 12px;
  background-image: url("./../../ui/components/shape.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease;
}

@media (max-width: 1199px) {
  .category__list {
    gap: 24px;
  }
}
@media (max-width: 899px) {
  .category__list {
    gap: 10px;
  }

  .category__list--item {
    gap: 4px;
  }
}
@media (max-width: 599px) {
  .category__wrapper {
    left: 16px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    bottom: 2%;
  }

  .category__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: flex-start;
  }
}
.button {
  padding: 7px;
  text-align: center;
  color: #ffffff;
  border: none !important;
  border-radius: 5px;
  transition: 0.2s ease;
  font-family: "Inter", sans-serif;
  line-height: 100%;
  letter-spacing: 0.5%;
  font-size: 15px;
  font-weight: 500;
}

.button__primary {
  background-color: #eab308;
}
.button__primary:hover {
  background-color: #fec71c;
}
.button__primary:active {
  background-color: #cc9500;
}

.button__secondary {
  background-color: #2581eb;
}
.button__secondary:hover {
  background-color: #439fff;
}
.button__secondary:active {
  background-color: #0763cd;
}

.popup__wrapper {
  padding: 10px;
  width: 420px;
  height: 360px;
  background-color: white;
  border-radius: 5%;
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-shadow: inset;
  opacity: 1;
  transition: 0.5s ease;
  font-family: "Inter", sans-serif;
  line-height: 22px;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 500;
}

.popup__wrapper,
.popup__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}
.popup__wrapper label,
.popup__form label {
  display: inline-block;
  -webkit-box-align: start;
          align-items: flex-start;
}

.popup__form {
  height: 200px;
  width: 340px;
  gap: 10px;
}
.popup__form label {
  width: 100%;
}
.popup__form input {
  padding: 5px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
}

.popup__text {
  width: 340px;
}

.button__popup {
  width: 100%;
}

.popup__link {
  color: #2581eb !important;
}

.popup__close {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 959px) {
  .popup__wrapper {
    width: 350px;
    height: 320px;
  }

  .popup__form, .popup__text {
    width: 315px;
  }
}

/*# sourceMappingURL=main.css.map */