$primaryButtonColor: #eab308;
$primaryButtonColorHover: #fec71c;
$primaryButtonColorPressed: #cc9500;

$secondaryButtonColor: #2581eb;
$secondaryButtonColorHover: #439fff;
$secondaryButtonColorPressed: #0763cd;
