.header__navigation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  text-decoration: none;
  width: fit-content;
  transition: 0.2s ease;
}

.header__navigation--buttons {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
}

#buttonPopupNavigation {
  display: none;
}

.header__navigation--link:hover {
  color: $secondaryButtonColor;
}

.activeNavLink {
  color: blue !important;
  text-decoration: underline;
  border-bottom: 2px solid blue;
}

.header__navigation--basket {
  transition: background-image 0.2s ease;
  width: 16px;
  height: 16px;
  padding: 15px;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./../../ui/components/shopping-basket.png");
  border-radius: 5px;
}

.header__navigation--basket:hover {
  background-image: url("./../../ui/components/shopping-basket-hover.png");
  border: 1px solid $secondaryButtonColorHover;
}

.header__navigation--basket:active {
  background-image: url("./../../ui/components/shopping-basket-pressed.png");
  border: 1px solid $secondaryButtonColorPressed;
}

.header__navigation--mobile {
  display: none;
  transition: background-image 0.2s ease;
  width: 38px;
  height: 38px;
  // padding: px;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./../../ui/components/mobileMenu.png");

  border: 1px solid $primaryButtonColorHover;
  border-radius: 10px;
}
.header__navigation--mobile:hover {
  background-color: $primaryButtonColorHover;
}

.header__navigation--mobile:active {
  background-color: $primaryButtonColorPressed;
  background-image: url("./../../ui/components/mobileMenuPressed.png");
}

@media (max-width: 1199px) {
  .header__navigation {
    display: none;
    position: absolute;
    top: 0%;
    right: 0px;

    width: 375px;
    height: 390px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;

    padding: 10px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding-top: 65px;
    padding-bottom: 30px;
  }

  #buttonPopupNavigation {
    display: block;
  }

  .header__navigation--close {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 0px;
    transform: translateX(-50%);
    width: 38px;
    height: 38px;
  }
  .header__navigation--mobile {
    display: block;
  }

  #arrowDown {
    display: none;
  }
}

@media (max-width: 599px) {
  .header__logo {
    z-index: 5;
  }
  #buttonPopup {
    display: none;
  }
}
