.popup__wrapper {
  padding: 10px;
  width: 420px;
  height: 360px;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset;
  opacity: 1;
  transition: 0.5s ease;

  font-family: "Inter", sans-serif;
  line-height: 22px;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 500;
}

.popup__wrapper,
.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  label {
    display: inline-block;
    align-items: flex-start;
  }
}

.popup__form {
  height: 200px;
  width: 340px;
  gap: 10px;

  label {
    width: 100%;
  }
  input {
    padding: 5px;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
  }
}
.popup__text {
  width: 340px;
}

.button__popup {
  width: 100%;
}
.popup__link {
  color: $secondaryButtonColor !important;
}

.popup__close {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  transform: translateX(-50%);
}

@media (max-width: 959px) {
  .popup__wrapper {
    width: 350px;
    height: 320px;
  }
  .popup__form,
  .popup__text {
    width: 315px;
  }
}
