.main__wrapper {
  flex-direction: column;
}
.main__content {
  position: relative;
  height: 90vh;
}

.main__title {
  text-transform: uppercase;
  font-family: "Jura", sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 152px;
  line-height: 100%;
}
.main__title--many {
  position: absolute;
  top: 0%;
  left: 1vw;
}
.main__title--ducks {
  position: absolute;
  top: 10%;
  right: 1vw;
}

.main__img {
  position: absolute;
  // top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.main__img--duckSound {
  position: absolute;
  top: 30%;
  left: 0vw;
  transform: translateX(-50%);

  width: 120px;
  height: 108px;
  background-image: url('./../../ui/img/duckSound.png');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: 0;
    transition: background-image 0.2s ease; 
}
.main__subtitle {
  position: absolute;
  top: 35vh;
  right: 7vw;
  width: 27vw;
  width: 320px;
  height: 90px;

  font-family: "Inter", sans-serif;
  line-height: 20px;
  letter-spacing: 0.5%;
  font-size: 16px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main__subtitle--button {
  width: fit-content !important;
}

@media (max-width: 1199px) {
  .main__title {
    line-height: 80%;
  }
  .main__title--many {
    top: 15%;
  }
  .main__title--ducks {
    top: 35%;
    left: 2%;
  }
  .main__img {
    right: 0%;
    top: 10%;
  }
  .main__img--duck {
    transform: translateX(95%);
  }
  .main__img--duckSound {
    transform: translateX(50%);
    left: 70%;
    // top: 30%;
  }
  .main__subtitle {
    top: 60%;
    left: 2%;
  }
}

@media (max-width: 899px) {
    .main__title {
        line-height: 80%;
        font-size: 92px;
      }
      .main__title--many {
        top: 15%;
      }
      .main__title--ducks {
        top: 25%;
        left: 2%;
      }
      .main__img {
        right: 0%;
        top: 10%;
      }
      .main__img--duck {
        transform: translateX(95%);
      }
      .main__img--duckSound {
        transform: translateX(50%);
        left: 70%;
        width: 80px;
        height: 72px;
        top: 40%;
      }
      .main__subtitle {
        top: 40%;
        left: 2%;
      }
}

@media (max-width: 599px) {
  .main__title--many {
    top: 10%;
    left: 16px;
  }
  .main__title--ducks {
    top: 20%;
    left: 16px;
  }
  .main__img {
    right: 0%;
    top: 60%;
  }
  .main__img--duck {
    transform: translateX(95%);
  }
  .main__img--duckSound {
    transform: translateX(50%);
    left: 50%;
    width: 64px;
    height: 56px;
    top: 40%;
  }
  .main__subtitle {
    top: 35%;
    left: 16px;
  }
}
